.info{
background: #FFF;
color: #000;
border: 1px solid #f00;
}
.info > .table{
margin-bottom:0;
}
.info > .table th, .info > .table td{
padding: 4px;
line-height: 1.2;
}
.info > .table > thead > tr{
background: #d9edf7;
}
.info > .table > tbody > tr{
background: #fcf8e3;
}
